<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SmtpHost" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="SmtpSenderEmail" value="ucclibrarymanagement@gmail.com" />
		<add key="SmtpSenderPassword" value="piodjejpgvrrdgqr" />
		<add key="SmtpSenderName" value="UCC Library" />
	</appSettings>
</configuration>